@import url(./_variables.scss);
@import url(./common.scss);

@import url(./header.scss);
@import url(./footer.scss);

@import url(./homepage.scss);
@import url(./feedback.scss);
@import url(./contacts.scss);
@import url(./socials.scss);
@import url(./socials.scss);
@import url(./ordering.scss);
@import url(./services.scss);
@import url(./aboutUs.scss);
@import url(./questions.scss);

@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
  margin: 0;
  background: rgb(12, 12, 12) url(../media/dots2.png);
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.section {
  display: flex;

  &_container {
    height: 100%;
    display: flex;
  }
}

.title {
  width: 100%;
  margin-bottom: 20px;
  font-style: italic;
  color: white;
}

.subtitle {
  width: 100%;
  margin-bottom: 15px;
  font-weight: 400;
}
